h2 { 
  background-color: #2329d5 !important; 
  width: 24% !important;
  margin-left: 38% !important;
  margin-right: 38% !important;
  font-size: 53px !important;
  padding-top: 30px !important;
  padding-bottom: 1px !important;
  margin-bottom: 0 !important;
  line-height: 60px !important;
}